body{
background-color: #60328a;
 margin:0;
 padding:0;
 height:100%;
}

h1{ 
	margin-top: 3rem;
	color: #e94f81;
}

h3{
	margin-top: 2rem;
	margin-left: 2rem;
	color: #11dff7;
}

.text{
	color: #bbc6ff;
}
.stars{
	color: #11dff7;
}
.result{
	margin-top: 1rem;
	border-spacing: 1 rem;
	background-color: #448A2B;
	color: #D6C063;
}

ul li.checked {
	text-decoration: line-through;    
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
} 
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
.head{
	margin-top: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 4rem;
}
p{
	margin-left: 3rem;
}
input{
	margin-left: 3rem;
}
span{
	color: yellow;
	margin-left: 2rem;
}
button{
	
}
textarea{
	margin-left: 3rem;
}
.ft{
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 4rem;
	background-color: #241c5b;
	color: white;
	position: unset;
}

.content{
	list-style-type: none;
	text-align: right;
}

.ftItem{
	display: inline;
	margin-left: 2rem;
	margin-right: 2rem;
}

